* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'applesansadjectives';
	font-size: 15px;
	color: rgba(0, 0, 0, 0.7);
}

#container {
	width: 100vw;
	height: 100vh;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

header {
	width: 100%;
	height: 60px;
	padding: 19px 0 0 0;
}
header a:not(:first-child) {padding-left: 2.5rem;}
header a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
}

header a:hover {color: black;}
/* ----LANDING---- */

#landing img {
	height: 70vh;
	width: auto;
}
#landing a {	text-decoration: none;
	color:rgba(0, 0, 0, 0.7);
	font-size: 14px;}
.caption-landing {
	margin-top: 0.5rem;
}
#landing a:hover .caption-landing {visibility: visible !important;}

/* ----EXHIBITIONS----*/
#lista  {
	opacity: 0;
	animation: fade 0.8s ease-in-out 0s forwards;
}
@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


#lista a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	display: block;
	padding-top: 0.7rem;
	font-size: 14px;
	cursor: default;
}
#lista .ima:hover {
	cursor: pointer;
	color: black;
}
.caption, .caption-s {
	margin-top: 0.5rem;
	padding-right: 26.8rem;
	text-align: center;
	font-size: 14px;
}
.caption-s {
	padding-left: 10.5rem;
}
