/* FOR PORTRAIT ORIENTATION */
@media screen and (max-width: 460px) and (orientation: portrait) {
	.dropdown-container-saat, .dropdown-container-cg {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: -10vh !important;
		margin-bottom: 12.2rem;
		width: 100vw;
	}
	.dropdown-container-saat div, .dropdown-container-cg div {
		top:0;
		height: 100%;
		margin: 50% 1rem 0 1rem;
	}
	.dropdown-container-saat img, .dropdown-container-cg img {
		width: 100%;
	}
	.caption {display: none;}
	.caption-m {opacity: 0.75; transform: translateY(7.5rem);}
}
@media screen and (max-width: 320px) {
	.dropdown-container-saat, .dropdown-container-cg {padding-top: 0vh; padding-bottom: 3rem;}
	.dropdown-container-saat div, .dropdown-container-cg div {margin: 40% 1rem 0 1rem;}
	.caption-m {transform: translateY(5.8rem);}
}
/* nema caption za non-mobile */
@media screen and (min-width: 767px) and (min-height: 415px) {
	.caption-m, .caption-m-l {display: none;}
}
/* LANDSCAPE ORIENTATION */
/* OD IPHONE 6 PLUS */
@media screen and (max-height: 414px) and (max-width: 736px) and (orientation: landscape) {
	.dropdown-container-saat, .dropdown-container-cg {
		width: 100vw;
		text-align: center;
		margin-top: -50vh !important;
		padding-bottom: -2rem;
	}
	.dropdown-container-saat div, .dropdown-container-cg div {
		top:0;
		height: 100%;
		margin: 10rem 4rem 0 4rem;
	}
	.dropdown-container-saat img, .dropdown-container-cg img {
		text-align: center;
		height: 80vh;
		width: auto;
	}	
	.caption {display: none;}
	.caption-m {
		opacity: 0.75;
		transform: translateY(5rem);
	}

}
/* IPHONE X */
@media screen and (max-width: 823px) and (max-height: 414px) and (orientation: landscape) {
	.dropdown-container-saat, .dropdown-container-cg {
		width: 100vw;
		text-align: center;
		margin-top: 50vh !important;
		margin-bottom: 8.5rem;
	}
	.dropdown-container-saat div, .dropdown-container-cg div {
		top:0;
		height: 100%;
		margin: 10rem 4rem 0 4rem;

	}
	.dropdown-container-saat img, .dropdown-container-cg img {
		text-align: center;
		height: 80vh;
		width: auto;
	}	
	.caption {display: none;}
	.caption-m {
		transform: translateY(5.5rem);
	}

}




