		a, h1, h2 {color: white;}
		.cell__4 {cursor: default !important;}
		#line {background-color: white;}

		@media screen and (max-width: 581px) {
			.red_1 a, .red_2 a {color: white;}
		}

		body {background-color: black;}