	@font-face {
		font-family: 'Iosevska';
		src: url('IosevkaCharonMono-Regular.ttf');
		font-weight: normal;
	}

	* {
		margin: 0;
		padding: 0;

		box-sizing: border-box;
	}

	

a, h3, p, .counter {
	text-decoration: none;
		font-family: 'Iosevska';
	font-size: 14px;
	line-height: 1.4;
	font-style: normal;
	font-weight: 400;

	color: black;
	opacity: .8;
}
	
header {
	max-width: 1830px;
	margin: 0 auto;
	padding: 15px 25px;

	display: flex;
	justify-content: space-between;
}

.projects {
	max-width: 1830px;
	margin: 0 auto 35px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 40px;

    padding: 5px 25px;
}

.project {

    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.gallery {
    align-self: start;
    cursor: e-resize;
}

.gallery img, .gallery video {
    display: none;
    width: 100%;
    height: auto;
}

.gallery img.active, .gallery video.active {
    display: block;
}

.project-info {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	opacity: .5;
}

.project-info p, .counter {
	font-size: 12px;
}



.blink {
  animation: blink 1.35s infinite;
  color: red;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}



@media (max-width: 600px) {

    .projects {
        grid-template-columns: 1fr;
        padding: 15px;
        row-gap: 40px;
    }

       .gallery {
        position: relative;
    }

    .gallery img,
    .gallery video {
        display: none;
        width: 100%;
        height: auto;
    }

    .gallery img.active,
    .gallery video.active {
        display: block;
    }
}








