* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Savoy Regular';
	src: url('Savoy Regular.ttf');
}
* {-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
body {
	font-family: 'Savoy Regular.ttf';
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	display: none;
}
#container {
	width: 1440px;
	margin: 0 auto;
}
header {
	width: 1440px;
	position: fixed;
	background-color: white;
	top: 0;
	height: 65px;
	padding-top: 1.42rem;
	z-index: 1000;
}
header a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
header a:hover {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
#nav {
	display: inline-block;
	float: right;
}
#nav a {
	padding-left: 2rem;
}
#landing img {
	max-width: 100vw;
	max-height: auto;
	opacity: 0;
	animation: naslovna 0.8s ease-in 0s 1 forwards;
}
@keyframes naslovna {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
span {font-style: normal;}
#landing-text:hover {cursor: default;}
#grid {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
	margin:0 auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.cell, .cellhor, .cellsq {
	width: 150px;
	overflow: hidden;
	display: block;
	margin: 2rem 0.5rem 2rem 5rem;
}
.cell {
	height: 180px;
}
.cellhor {
	height: 100px;
}
.cellsq img {
	display: block;
	width: 100%;
}
.cellhor img {
	display: block;
	height: 100%;
	width: 100%;
}
.cell img {
	display: block;
	width: 100%;
}
.textcell p {
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	transform: translateY(-20px);
}
.textcell:hover p {visibility: visible !important;}
.text-r1 {margin-left: 10px;}

		/* KRAJ GLAVNE STRANE */
		/* ----BIOGRAPHY---- */

#landing-bio {
	min-height: 100vh;
	height: auto;
	overflow: auto;
	padding-top: 8%;
}
#bio-text {
	margin: 0 auto;
}
#landing-bio div {
	width: 56vw;
	text-align: justify;
	color: rgba(0, 0, 0, 0.8);
}

		/* ----BREAK1----*/
#break-1 {
	width: 100%;
	height: 80vh;
	background-image: url(tony-break1-a.jpg);
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: rgb(245, 245, 245);
}
		/*----CRITICS-----*/

#landing-critics {
	min-height: 100vh;
	padding: 4.5rem 0rem 3rem 1rem;
}
.dropdown {
	margin-top: 2rem;
	font-size: 15.5px;}
#dropdown-2, #dropdown-3 {
	margin-top: 0.8rem;}
.dropdown-text {
	width: 56vw;
	margin-top: 1rem;
	color: rgba(0, 0, 0, 0.8);
	text-align: justify;
	margin: 0 auto;
}
.dropdown p {display: inline-block; color: rgba(0, 0, 0, 0.8);}
#naslov {color: rgba(0, 0, 0, 0.8);}

/* ---- BREAK-2 -----*/

#break-2 {
	width: 100%;
	height: 50vh;
	background-color: rgb(246, 246, 246);
	background-image: url('tony-break2.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}


/* --- CONTACT PAGE ------ */

#landing-contact {
	height: 100vh;
	padding-top: 4.5rem;
}
.info {
	color: rgba(0, 0, 0, 0.8);}
.info:not(:last-child) {
	margin-top: 1rem;}


/* ----MENU FOR TOUCH DEVICES---- */

#mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0.9;
	height: 100%;
	width: 100%;
	display: none;
	padding-top: 4rem;
	padding-left: 1rem;
	z-index: 100;
}

#mobile-nav a {
	display: block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	text-align: left;
	padding-top: 0.8rem;
	font-size: 14px;
}
.gore-x {
	transform:rotate(45deg);
}
/* -- RESPONSIVE FOR :NOT MOBILE -- */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
		#landing {
		height: 100vh;
		background-image: url('d42ded9e-2907-43b2-befc-30162dffd700.jpg');
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		animation: naslovna 0.8s ease-in 0s 1 forwards;
		margin: 0 1rem 0 1rem;
	}
}
@media screen and (min-width: 1441px) {
	#landing {
		height: 100vh;
		background-image: url('d42ded9e-2907-43b2-befc-30162dffd700.jpg');
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: contain;
		animation: naslovna 0.8s ease-in 0s 1 forwards;
	}
}
/* -- UNI -- */
@media screen and (max-width: 1440px) {
	#container {
		width: 100vw;}
	header {width: 100vw; padding-left: 1rem;}
	#nav {margin-right: 1.2rem;}
	#landing img {padding: 0 1rem 0 1rem;}
	.dropdown {margin-left: 0;}
}

@media screen and (min-width: 1428px) {
	.text-r {margin-left: 5rem;}
	.levo {margin-left: 0.5rem;}
	#landing-critics {padding-left: 0;}
}
@media screen and (max-width: 1427px) {
	.info {margin-left: 1rem;}
}
/* GALLERY-main- RESPONSIVE */
@media screen and (min-width: 1428px) and (max-width: 1440px){
	.text-r1 {margin-left: 10px;}
	.text-r {margin-left: 80px;}
	#section-gallery {padding-left: 1rem; padding-right: 1rem;}
	#landing-critics {padding-left: 0rem;}
}
@media screen and (min-width: 723px) and (max-width: 1427px) {
	#grid {margin-left: -45px;}
	.text-r, .text-r1 {margin-left: 80px;}
	#landing-bio div, .dropdown-text {font-size: 15px;}
}
@media screen and (min-width: 476px) and (max-width: 722px) {
	#grid {margin-left: -45px;
		justify-content: space-around;}
	.text-r, .text-r1 {margin-left: 80px;}
	#landing-bio div, .dropdown-text {font-size: 12px;}
	#landing-bio {margin-top: 4rem;}
}
@media screen and (max-width: 475px) {
	#grid {margin-left: -35px; justify-content: space-around;}
	.text-r, .text-r1 {margin-left: 80px;}
	#landing-bio div, .dropdown-text {font-size: 12px; line-height: 120%;}
	#landing-bio {margin-top: 4rem;}
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
	#landing-m {display: none;}
}
/* ZA BRISANJE */
@media screen and (min-width: 1190px) and (max-width: 1412px) {
	.delete, .delete1, .delete2, .delete3, .delete4 , .delete5 {display: none;}
}
@media screen and (min-width: 952px) and (max-width: 1189px) {
	.delete, .delete1, .delete2, .delete3, .delete4 , .delete5, .delete6 {display: none;}
}
@media screen and (min-width: 714px) and (max-width: 951px) {
	.delete, .delete1, .delete2, .delete3, .delete4 , .delete5 {display: none;}
}
@media screen and (max-width: 713px) {
	.delete, .delete1, .delete2, .delete3, .delete4 , .delete5, .delete6 {display: none;}
}
@media screen and (min-width: 1412px) {
	.delete, .delete1, .delete2 {display: none;}
}

/* RESPONSIVE NAV BAR */
@media screen and (max-width: 1023px) {
	#landing {height: 100vh;}
	#nav {display: none;}
	#nav-780 {
		height: 55px;
		width: 28px;
		position: absolute;
		right: 1rem;
		top: 0;
		transform: scale(0.75);} 
	#nav-780:hover {cursor: pointer;}
	.bar {width: 28px;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.8);
		display: block;
		transform: translateY(27px);}
		.gore {margin-top: 0.5rem;}
		.dole {margin-top: -0.5rem;}
		.gore-x {
			transform: rotate(-45deg) translate(-17px, 15px);
			transition: 0.5s;}
		.dole-x {
			transform: rotate(45deg) translate(20px, 22px);
			transition: 0.5s;} }
		.gore-p {
			transform: rotate(0deg) translate(0px, 27px);
			transition: 0.5s;
		}
		.dole-p {
			transform: rotate(0deg) translate(0px, 27px);
			transition: 0.5s;
		}
		#landing {
		height: 100vh;}
		#section-gallery, #landing-critics, #landing-contact, #landing img, #landing-bio div {
		animation: naslovna 0.8s ease-in 0s 1 forwards;}
}
/* RESPONSIVE BIO & CRITICS */
@media screen and (min-width: 1024px) and (max-width: 1200px) {}
@media screen and (min-width: 769px) and (max-width: 1023px) {
	#landing-bio div {width: 67vw;}
	.dropdown-text {width: 67vw;}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#landing-bio {padding-top: 10%;}
	#landing-bio div {width: 67vw;}
	.dropdown-text {width: 67vw;}
	header a, .dropdown-link, #naslov, .info {font-size: 14px;}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	#landing-bio div {width: 65vw;}
	.dropdown-text {width: 65vw;}
}
/* -- MOBILE */
@media screen and (max-width: 480px) {
	#landing-bio {padding-top: 1rem;}
	#landing-bio div {width: 80vw;}
	.dropdown-text {width: 80vw; margin-top: 1rem; margin-right: 1.7rem;}
	#landing {height: 100vh; padding-top: 3rem;}
	header a, .dropdown-link, #naslov, .info {font-size: 14px;}
	#landing-pc {display: none;}
}
@media screen and (min-width: 1024px) {
	.dropdown p:hover {cursor: pointer; color: rgba(0, 0, 0, 0.5);}
}
/* CSS POPUP */
.mfp-container {
	background: white;
}
.mfp-container:hover {
	cursor: pointer;
}
.mfp-content:hover {
	cursor: pointer;
}
.mfp-title {
	font-family: 'Savoy Regular.ttf';
	-webkit-font-smoothing: antialiased;
	font-style: italic;
}
@media screen and (max-width: 1023px) {
	#fixed {display: none;}
	.textcell p {visibility: visible !important;}
	#l-t, #landing-text {display: none;}
}
@media screen and (min-width: 1024px) {
	#landing {height: 200vh; padding-top: 100vh;}
	#landing img {display: none;}
	#l-t {
		width: 50vw;
		display: none;
		text-align: center;
		margin: 0 auto;
		color: white;
		font-size: 18px;
	}
}


