@font-face {
	font-family: 'applesans';
	src:url('AppleSansAdjectives.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {font-family: applesans; font-size: 14px;}
#nav .active {color: black;}
#container {
	width: 100vw;}
#nav {
	width: calc(35vw / 2);
	height: 100%;
	position: fixed;
	top: 0;
	padding: 5rem 0 0 2rem;
	z-index: 1;
}
#nav a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	display: block;
}
#nav a:hover {color:black;}
#nav a:not(:first-child){padding-top: 0.3rem;}

/* ----POCETNA---- */
#landing-img, #lista {
	width: 63vw;
	margin: 0 auto;
	padding-top: 5rem;
}
#landing-img img {width: 100%;}
#landing-img a {font-size: 12px; color: rgba(0, 0, 0, 0.6); text-decoration: none;}
#landing-img a:hover p {visibility: visible !important;}

/* ----EXHIBITIONS PAGE----*/
.exhibitions {height: 100vh;}
#lista a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	display: block;
	text-align: left;
}
#lista a:not(:first-child) {padding-top: 0.4rem;}
.caption {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	margin-top: 0.5rem;
	margin-left: calc((100vw - 63vw) / 2);
}
#lista .dropdown-link {
	color: black;
}
/* ----CLOSE SIGN X---- */

.close {
	transform: scale(0.5);
	position: absolute;
	top: 2rem;
	right: 1rem;
	z-index: 10000000;
}
.close:hover {
	cursor: pointer;
}

@media screen and (width: 1440px) {
	span {margin-left: 3.1rem;}
}
@media screen and (min-width: 1630px) {
	.caption {
		margin-left: calc((100vw - 1024px) / 2);
	}
}



