/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    padding: 2rem 0 1rem 0;
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide:focus {outline: none;}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img {
    width: 1024px;
    margin: 0 auto;
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {opacity: 0.7;}

.slick-prev, .slick-next {
    transform: scale(0.5);
    background: transparent;
    border: none;

    position: absolute;
    top:47%;
    z-index: 1;
}
.slick-next {right: 1rem;}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}
.slick-dots {
    display: none !important;
}
@media screen and (min-width: 1024px) {
    .slick-arrow:hover {opacity: 1;}
    .slick-prev:hover, .slick-next:hover {
    cursor: pointer;}
}
@media screen and (max-width: 1023px) {.slick-arrow {opacity: 1;}}


@media screen and (min-height: 631px) and (max-height: 800px) {
    .slick-slide img {
        width: 70%;}
    .caption {
        margin-left: calc((100% - 70%) / 2);}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .slick-slide img {
        width:67%;}
    .caption {
        width: 67%;
        margin-left: calc((100% - 67%) / 2);}
    .close-btn {right: 3.32rem;}
}
@media screen and (min-width: 645px) and (max-width: 1023px) {
    .slick-slide img {
        width: 80%;}
    .caption {
        width: 80%;
        margin-left: calc((100% - 80%) / 2);}
    .slick-next, .slick-prev {
        top: 42%;}
    .slick-next {right: -0.7rem;}
    .slick-prev {left: -0.7rem;}
    .close-btn {right: 1.7rem; transform: scale(0.45);}
}

@media screen and (max-width: 644px) {
    .slick-slide img {
        width: 100%;}
    .slick-arrow {display: none !important;}
    .caption {width: 100%;
    margin-left: calc((100% - 100%) / 2);}
    .close-btn {right: 1.35rem; transform: scale(0.4); opacity: 0.72;}
}




