/* Slider */
.slick-slider
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    z-index: 2;
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{  
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{   
    z-index: 2;
    display: none;
    float: left;
    text-align: center;

    height: 100%;
    min-height: 1px;
}
.slick-slide:focus {outline: none;}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img {
    width: 67.8%;
    margin: 0 auto;

    z-index: 10000;
}

.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*.slick-arrow {opacity: 0.7;}*/

.slick-prev, .slick-next {
    transform: scale(0.15);
    background: transparent;
    border: none;

    position: absolute;
    top: 45%;
    z-index: 10000;

}
.slick-next {right: -1.2rem; text-align: right;}
.slick-prev {left: -1.2rem; text-align: left;}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}
.slick-dots {
    display: none !important;
}

/* VERTIKALNO CENTRIRANJE SLIKA U GALERIJI-EXHIBITION */
.dropdown-container-saat div, .dropdown-container-cg div {
    top: 50%;
    height: 100vh;
}
figure {
    transform: translateY(-50%);
}
figcaption, .caption {
    margin: 0.35rem auto;
    width: 68%;
    color: rgba(0, 0, 0, 0.72);
    text-align: left;
}

/* ARROWS */
@media screen and (max-width: 575px) {
    .slick-arrow {
        transform: scale(0.1);
        color: rgba(0, 0, 0, 0.6);
    }
    .slick-prev {left: 0.5rem; top: 70%;}
    .slick-next {right: 1rem; top: 70%;}
}

/* GALERIJA VELICINA SLIKE */

@media screen and (max-width: 1440px) {
    .slick-slide img, figcaption, .caption { width: 75%;}
}
@media screen and (max-width: 1280px) {
    .slick-slide img, figcaption, .caption { width: 68%;}
}
@media screen and (max-width: 575px) {
    .slick-slide img, figcaption, .caption {width: 90%;}
}
@media screen and (height: 631px) {
    .slick-slide img, figcaption, .caption { width: 63%;}
}





