* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	width: 100vw;
	margin: 0 auto;
}

#grid {
	width: 100vw;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}

.cell {
	width: 150px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	margin-left: 0.6rem;
	margin-right: 0.6rem;
}

.cell img {
	display: block;
	width: 100%;
}
