* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

.main {
}

.project-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;

	padding-bottom: 10px;
}

.project-row img, .project-row video {
	padding: 10px 0 0 10px;
	max-width: 100%;
}