* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

.main {
}

.project-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
}

.project-row img {
	padding: 5px;
	max-width: 100%;
}