@font-face {
	font-family: 'authentic';
	src: url('AUTHENTICSans-90.otf');
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

*::selection {
	background-color: darkgray;
}

body {
	background-color: lightgray;
	overflow-x: hidden;
}

header {
	width: 100vw;

	padding: 30px 30px 0 30px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

a, h1, p {
	font-family: 'authentic';
	font-size: 21px;
	font-weight: normal;

	line-height: 1.3;

	text-decoration: none;

	color: black;
}

nav a {
	display: block;
}

a:hover {
	transform: translateX(-2px);
}


#legenda, .nazad {
	position: relative;

	bottom: 30px;
	left: 30px;
}

#legenda {
	position: absolute;
}

.info, #legenda {
	font-size: 14px;
}


/*DJURDJIC*/


.landing {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin-top: 25px;
}

.landing img {
	width: 45vw;
}

.design_pc_wrapper, .design_responsive_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 95vw;

	margin: 0 auto;
}

.design_responsive_wrapper {
	margin-top: 100px;
}

.design_product, .design, .responsive_djurdjic {
	width: 50%;
}

		.width img {width: 100%;}


.design_product {
	align-self: flex-end;
}

.spusti {
	margin-bottom: 50px;
}



/*JELENA*/

.content_jelena {
	width: 100vw;
	height: 100vh;

	margin-top: 100px;
	margin-bottom: 100px;
}

.cell {
	width: 80%;

	display: block;
	margin-left: 50vw;
	transform: translateX(-50%);
}

.drugi {
	margin-top: 200px;
}


.cell_dz {
	width: 65vw;

	display: block;

	margin-top: 130px;
	margin-left: 50vw;
	transform: translateX(-50%);
}

.cell_dz:last-child {
	margin-bottom: 150px;
}




@media screen and (max-width: 1440px) {
	.landing img {
		width: 55vw;
	}

	.cell_dz {
		width: 75vw;
	}
}

@media screen and (max-width: 1300px) {
	.landing {
		margin-top: 0;
	}

	.landing img {
		width: 45vw;
	}

	a, h1, p {
		font-size: 19px;
	}
}

@media screen and (max-width: 1024px) {
	.landing img {
		width: 55vw;
	}
}


@media screen and (max-width: 768px) {
	.landing img {
		width: 80vw;
	}

	.design_product, .design, .responsive_djurdjic {
		width: 100%;
	}

	.design_pc_wrapper, .design_responsive_wrapper {
		flex-wrap: wrap;
	}

	.design_pc_wrapper div, .design_responsive_wrapper div {
		margin-top: 80px;
	}

	.design_responsive_wrapper {
		margin-top: 0;
	}

	.cell, .cell_dz {
		width: calc(100% - 30px);
	}

	header {
		padding: 30px 15px 0 15px;
	}

	#legenda, .nazad {
		left: 15px;
	}
}

@media screen and (max-width: 500px) {
	a, h1, p {
		font-size: 15px;
	}

	.cell_dz {
		margin-top: 50px;
	}

	#header_mob {
		display: block;
	}

	#nav_mob {
		margin-top: 30px;
	}
}


@media screen and (max-width: 320px) {
	a, h1, p {
		font-size: 13px;
	}

}













