@font-face {
	font-family: 'playfair';
	src: url(Playfair_Display/PlayfairDisplay-Regular.ttf);}
::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	
	box-sizing: border-box;}

.sry {
 	display: none;
}
.sry p {
	color: white;
}

#top {
	position: fixed;
	bottom: 3%;
	right: 3%;

	color: lightgray;

	font-size: 13px;

	cursor: pointer;

	z-index: 100;}

a {
	text-decoration: none;
	font-family: playfair;}

a:hover {
	color: rgba(255, 255, 255, 0.3);
	transition: 0.4s;}

a, p, h1, h2 {
	color: lightgray;}

p {
	font-weight: 800;
}

body {
	background-color: black;}

header {
	position: absolute;
	top: 7%;

	display: none;
	text-align: center;
	margin-left: -2%;

	width: 100vw;}

header a {
	padding-left: 2%;
	font-size: 13px;}

.section {
	height: 100vh;}

.section-1 .naslov, img#slika-n, #top {
	display: none;}

footer {
	margin-top: 50vh;
	height: 15vh;}

.naslov, #slika-n {
	position: absolute;
	top:50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 45vw;}

.naslov {
	font-size: 4.7vw;
	z-index: 1;}

h1, h2 {
	font-family: playfair;
	font-weight: 100;}
h2 {
	display: block;
	margin: 0 auto;
}

#slika-n {
	display: block;
	filter: blur(1px);}

#info {
	display: block;
	width: 60vw;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: justify;
	font-family: playfair;
	font-size: 18px;
	font-weight: 100;

	opacity: 0;
	transition: all 1.3s ease-out;}

#velicina, #slika-s {
	position: relative;
	top: 50%;

	float: left;}

#velicina {
	transform: translate(4vw, -50%);
	opacity: 0;

	width: 30vw;

	font-size: 18px;
	text-align: justify;
	transition: all 1s ease-out;}

#slika-s {
	width: 60vw;
	transform: translateY(-55%);
	opacity: 0;
	transition: all 1s ease-out;}

#pauza {
	position: relative;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	filter: blur(1px);

	width: 45vw;
	opacity: 0;
	transition: all 0.8s ease-in;}

.section-5 {
	padding-top: 4%;}

#anatomija {
	display: block;

	position: relative;
	left: 50%;
	transform: translate(-31%, -70%);

	font-size: 18px;
	text-align: justify;

	width: 50%;
	opacity: 0;
	transition: all 0.7s ease-out;}

#slika-a {
	position: relative;
	left: 21%;

	width: 20%;
	opacity: 0;
	transition: all 0.7s ease-out;}

#vid {
	display: block;

	position: relative;
	top: 45%;
	left: 35%;
	transform: translate(-50%, -52%);

	font-size: 18px;
	text-align: justify;

	width: 25%;

	z-index: 1;
	opacity: 0;
	transition: all 0.7s ease-out;}

#slika-v {
	display: block;

	position: relative;
	top: 17%;
	left: 50%;
	transform: translateX(-50%);

	width: 80vw;
	opacity: 0;
	transition: all 0.7s ease-out;}


@media screen and (max-width: 1678px) {
	#slika-a, #anatomija {
		padding-top: 3%;
	}
	.pasus {
		font-size: 16px !important;
	}
}
@media screen and (max-width: 1438px) {
	.naslov, #slika-n, #pauza {
		width: 55%;}
	.naslov {
		font-size: 5.65vw;
	}

	#info {font-size: 17px;}
	.pasus {
		font-size: 14px !important;}

	#forma {top: 0;}
}

@media screen and (max-width: 1312px) {
	#info {
		font-size: 15px;}

	#slika-s {
		top: 35%;
	}
	#velicina {
		top: 30%;
		left: 30%;

		width: 50%;

		float: none;}
	#vid {
		top: 50%;
	}


}

@media screen and (max-width: 1024px) {
	.naslov, #slika-n, #pauza, #info {
		width: 70%;}
	.naslov {font-size: 7.13vw;}

	#anatomy {
		padding-top: 7%;}

	#slika-a {
		width: 30%;
		left: 15%;}

	#vid {width: 40%; top: 40%;}

	#velicina {
		left: 40%;}
}
@media screen and (max-width: 1000px) {

	#sve {display: none;}
	.sry {display: block;}
}

@media screen and (min-width: 768px) and (max-width: 917px) {
 
	#slika-s {
		width: 70%;
		top: 30%;}
	#velicina {
		width: 65%;
		top: 45%;
		left: 12%;}


	#anatomy {padding-top: 18%;}
	#slika-a {
		width: 38%;}
}

/* DODATI EFEKTI PRILIKOM SKROLA */

#info.fade-in, #pauza.fade-in {
	opacity: 1;
}

#velicina.fade-in-v {
	opacity: 1;
	transform: translate(5vw, -50%);
}
#slika-s.fade-in-v1 {
	opacity: 1;
	transform: translateY(-50%);
}

#slika-a.fade-in-a {
	opacity: 1;
	left: 20%;
}

#anatomija.fade-in-a1 {
	opacity: 1;
	transform: translate(-30%, -70%);
}
#vid.fade-in-vid {
	opacity: 1;
	transform: translate(-50%, -50%);
}

#slika-v.fade-in-vid1 {
	opacity: 1;
	top: 15%;
}



