@font-face {
	font-family: theinhardt;
	src: url(Theinhardt-Regular.otf);
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

*::selection {
	background: gray;
	color: white;
}

.main {
}

a, p {
	font-family: theinhardt;
	color: black;

	font-size: 14px;
	line-height: 1.5;

	text-decoration: none;
}

.info {
	padding: 30px 30px 0 30px;
}

.img_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.img_wrapper a {
	padding: 30px;
}

.img_wrapper img {
	height: 200px;

	max-width: 100%;
}

.more {
	visibility: hidden;
}

.img_wrapper a:hover p {
	visibility: visible;
}

@media screen and (max-width: 630px) {

	.info {
		padding: 30px 15px 0 15px;
	}

	.img_wrapper {
		margin: 15px 0;
	}

	.img_wrapper a {
	padding: 15px ;
}
	.img_wrapper img {
		height: auto;

		width: 100%;
	}
}









